@page "/Address"
<table class="table">
    <thead>
        ...
    </thead>
    <tbody>
        <tr class="table-active">
            <th>Address:Dado, Alamada, Cotabato</th>
        </tr>
        <tr class="table-active">
            <th>School: Southern Christian College</th>
        </tr>
        <tr class ="table-active">
            >
            <th scope="row">Status: single haha</th>
            <td colspan="2" class="table-active"</td>
        </tr>
    </tbody>
</table>
<div class="wJpH8c">
    <div class="  QW4Pie XAdKte">
        <div class="R2b1Pb" jslog="121226;metadata:W1tbMTAzODBdXV0=">
            <div class="ugt2L xQmaOb">
                <div class="   I6g62c">
                    <div class="N5YmOc kJXJmd">
                        <div class="rAJhhb">
                            <div class="UyGxr">
                                <div class="hU5YGc">
                                    <style nonce="">
                                        .HJOYVi7 {
                                            width: 20px;
                                            height: 20px;
                                        }</style><figure class="HJOYV HJOYVi7" title="Visible Walang Tayoo"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_20x20_ff7cdce347ea62237ce0422aa169bbb6.png" alt="Visible Walang Tayoo" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_40x40_a4de757e921a7d59f2747a6a3a308f30.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_60x60_3f5e7da5999b8149d41c11f4cdab6b9f.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_80x80_fc505e9d58be40e86e3fd012f914d076.png 4x" data-atf="false" data-iml="1255"></figure>
                                </div><div class="wMR7G kykqE"><div class="Xa7Xnd">Only you</div></div>
                            </div><div class="UyGxr">
                                <div class="hU5YGc">
                                    <style nonce="">
                                        .HJOYVi8 {
                                            width: 20px;
                                            height: 20px;
                                        }</style><figure class="HJOYV HJOYVi8" title="Visible within Walay Uyab"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_domain_acl_20x20_593fd3d5a9fc29e1b7e68220aaa6588f.png" alt="Visible within Walay Uyab" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_domain_acl_40x40_bcd59fcaeb29d08912562f00b94989ce.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_domain_acl_60x60_a1a76dd0fffc106e8500582c86abc841.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_domain_acl_80x80_6f4fcd2ba8610866e655ce325aff9884.png 4x" data-atf="false" data-iml="1255.3000001907349"></figure>
                                </div><div class="wMR7G kykqE"><div class="Xa7Xnd">Your organization</div></div>
                            </div><div class="UyGxr">
                                <div class="hU5YGc">
                                    <style nonce="">
                                        .HJOYVi9 {
                                            width: 20px;
                                            height: 20px;
                                        }</style><figure class="HJOYV HJOYVi9" title="Visible to Single HAHA"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_20x20_f410638f6c5dcfe0dc116b074c332f54.png" alt="Visible to Single HAHA" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_40x40_06c4ea1fc553f831448b079e2ebec633.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_60x60_e779c7b0aad41af87a81ea337dcfa172.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_80x80_1caffe16cffa07d0542f934b5ee6b3bc.png 4x" data-atf="false" data-iml="1255.8000001907349"></figure>
                                </div><div class="wMR7G kykqE"><div class="Xa7Xnd">Anyone</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ZCHFDb" class="jAwdKb" jscontroller="LJG6X" jsaction="qako4e:kSaId"><footer class="Z8F8sf" role="contentinfo"><a href="https://policies.google.com/privacy" class="KlUiRc" data-nav-type="14" data-rid="500">Privacy</a><a href="https://policies.google.com/terms" class="KlUiRc" data-nav-type="14" data-rid="503">Terms</a><a href="https://support.google.com/accounts" class="KlUiRc" target="_blank" rel="noopener noreferrer" data-link-interceptor-ignore="true" jsaction="click:KySCff(preventDefault=true);" data-nav-type="14" data-rid="10015">Help</a><a href="https://www.google.com/account/about" class="KlUiRc" aria-label="Learn more about Google Account" data-nav-type="14" data-rid="10704">About</a></footer></div>
