@page "/Profile"


<h3>Who am I? </h3>
<table class="table table-dark">
    <thead>
        <tr class="table-active"
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Year and Section</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">21=0502</th>
            <td>Rasul</td>
            <td>Sinsuat</td>
            <td>BSIT-3</td>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Age</th>
            <th scope="col">Sex:</th>
            <th scope="col">BirhDay</th>
            <th scope="col">occupational</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">12</th>
            <td>Male</td>
            <td>May-05-2003</td>
            <td>None</td>
        </tr>
    </tbody>
</table>

<div class="R2b1Pb" jslog="121226;metadata:W1tbMTAzNzldXV0="><div class="ugt2L"><div class=" N5YmOc kJXJmd bvW4md"><header class="nst1vd"><div class="Z0Wvsf"><h2 class="Voxjqf">Basic info</h2><div class="sieBfb"><div></div></div></div></header></div></div><div class="ugt2L aK2X8b iDdZmf"><div jscontroller="fjYfSd" class="VfPpkd-ksKsZd-XxIAqe CmhoVd  I6g62c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseover:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"><a href="profile/name" class="RlFDUe I6g62c N5YmOc kJXJmd" data-rid="10090" data-nav-type="5" aria-label="Name Rasul Sinsuat" jslog="164890;metadata:W1tudWxsLG51bGwsWzEwMDkwXV1d; track:click"><div class="zWCNee" role="text"><div class="R1PxN" id="i10"><div class="nMwHGf"><div class="cdy4hc"><div class="wMR7G"><div class="WzaSad">Name</div></div></div><div class="zTjtYe" style="-webkit-flex-basis:292px; -ms-flex-preferred-size:292px; flex-basis:292px;"><div class="wMR7G"><div class="bJCr1d">Rasul Sinsuat</div></div></div></div></div><div class="tBSpp"><style nonce="">.HJOYVi11 {width: 20px; height: 20px;}</style><figure class="HJOYV HJOYVi11" title="Visible to anyone"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_20x20_f410638f6c5dcfe0dc116b074c332f54.png" alt="Visible to anyone" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_40x40_06c4ea1fc553f831448b079e2ebec633.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_60x60_e779c7b0aad41af87a81ea337dcfa172.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_80x80_1caffe16cffa07d0542f934b5ee6b3bc.png 4x" data-atf="false" data-iml="2373.2000000476837"></figure></div><div class="NUNLMb"><figure class="z7VTQb" aria-hidden="true"><i class="google-material-icons giSqbe KadXMd" aria-hidden="true">chevron_right</i></figure></div></div></a></div></div><div class="ugt2L aK2X8b t97Ap iDdZmf"><div class="cv2gi" role="presentation"><div class="Q5jTGb"></div></div><button type="button" class="DvHiEc NDsRfb VfPpkd-ksKsZd-XxIAqe CmhoVd  I6g62c"><div class="N5YmOc kJXJmd" jscontroller="nEO8Ne" aria-haspopup="dialog" aria-label="Change profile photo" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseover:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;rcuQ6b:npT2md;" data-rid="218" data-nav-type="5" aria-describedby="i12" jslog="164890;metadata:W1tudWxsLG51bGwsWzIxOF1dXQ==; track:click"><div class="zWCNee" role="text"><div class="R1PxN" id="i12"><div class="nMwHGf"><div class="cdy4hc"><div class="wMR7G"><div class="WzaSad">Profile picture</div></div></div><div class="zTjtYe" style="-webkit-flex-basis:292px; -ms-flex-preferred-size:292px; flex-basis:292px;"><div class="wMR7G oGaYYd"><div class="YaVKnd"><style nonce="">.HJOYVi13 {width: 60px; height: 60px;}</style><figure class="HJOYV HJOYVi13" aria-hidden="true"><img class="YPzqGd" src="https://lh3.googleusercontent.com/a/ACg8ocKfRuPCXXvx9WLP4bIDA1urFJ5HUieHhFUvtGFg1MyUMg=s60-c-rg-br100" alt="" aria-hidden="true" srcset="https://lh3.googleusercontent.com/a/ACg8ocKfRuPCXXvx9WLP4bIDA1urFJ5HUieHhFUvtGFg1MyUMg=s120-c-rg-br100 2x, https://lh3.googleusercontent.com/a/ACg8ocKfRuPCXXvx9WLP4bIDA1urFJ5HUieHhFUvtGFg1MyUMg=s180-c-rg-br100 3x, https://lh3.googleusercontent.com/a/ACg8ocKfRuPCXXvx9WLP4bIDA1urFJ5HUieHhFUvtGFg1MyUMg=s240-c-rg-br100 4x" data-atf="false" data-iml="2746"></figure></div><div class="kFNik" style="color: rgba(94,98,103,1);">A profile picture helps personalize your account</div></div></div></div></div><div class="tBSpp"><style nonce="">.HJOYVi14 {width: 20px; height: 20px;}</style><figure class="HJOYV HJOYVi14" title="Visible to anyone"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_20x20_f410638f6c5dcfe0dc116b074c332f54.png" alt="Visible to anyone" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_40x40_06c4ea1fc553f831448b079e2ebec633.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_60x60_e779c7b0aad41af87a81ea337dcfa172.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_public_acl_80x80_1caffe16cffa07d0542f934b5ee6b3bc.png 4x" data-atf="false" data-iml="2373.2999999523163"></figure></div><div class="NUNLMb"><figure class="z7VTQb" aria-hidden="true"><i class="google-material-icons giSqbe KadXMd" aria-hidden="true">chevron_right</i></figure></div></div></div></button></div><div class="ugt2L aK2X8b t97Ap"><div class="cv2gi" role="presentation"><div class="Q5jTGb"></div></div><div jscontroller="fjYfSd" class="VfPpkd-ksKsZd-XxIAqe CmhoVd  I6g62c" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseover:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"><a href="gender?continue=https%3A%2F%2Fmyaccount.google.com%2Fprofile%3Fpli%3D1" class="RlFDUe I6g62c N5YmOc kJXJmd" data-rid="206" data-nav-type="5" aria-label="Gender Add your gender" jslog="164890;metadata:W1tudWxsLG51bGwsWzIwNl1dXQ==; track:click"><div class="zWCNee" role="text"><div class="R1PxN" id="i15"><div class="nMwHGf"><div class="cdy4hc"><div class="wMR7G"><div class="WzaSad">Gender</div></div></div><div class="zTjtYe" style="-webkit-flex-basis:292px; -ms-flex-preferred-size:292px; flex-basis:292px;"><div class="wMR7G"><div class="bJCr1d">Add your gender</div></div></div></div></div><div class="tBSpp"><style nonce="">.HJOYVi16 {width: 20px; height: 20px;}</style><figure class="HJOYV HJOYVi16" title="Visible only to you"><img class="YPzqGd" src="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_20x20_ff7cdce347ea62237ce0422aa169bbb6.png" alt="Visible only to you" aria-hidden="true" srcset="https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_40x40_a4de757e921a7d59f2747a6a3a308f30.png 2x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_60x60_3f5e7da5999b8149d41c11f4cdab6b9f.png 3x, https://www.gstatic.com/identity/boq/accountsettingsmobile/profile_private_acl_80x80_fc505e9d58be40e86e3fd012f914d076.png 4x" data-atf="false" data-iml="2321.0999999046326"></figure></div><div class="NUNLMb"><figure class="z7VTQb" aria-hidden="true"><i class="google-material-icons giSqbe KadXMd" aria-hidden="true">chevron_right</i></figure></div></div></a></div></div></div>

@code{

}